.projectHighlights {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 3rem 0;
}

.heading {
  color: var(--color-white);
  font-size: var(--font-size-section-heading);
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.seeMore {
  display: inline-block;
  margin-top: 1.5rem;
  color: var(--color-white);
}
